<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
   <table border="3" align="center" cellpadding="10">
    <tr>
        <td>brand</td>
        <td><input type="text" name="brand" id=""></td></tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="save">
        </td>
    </tr>
   </table>
</form>
<table border="3" align="center" cellpadding="15">
    <tr>
        <td>sl.no</td>
        <td>Brand</td>
        <td>Action</td>
    </tr>
{% for i in brandkey %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.brand_name}}</td>
    <td><a href="{% url 'webadmin:delbrand' i.id %}">Delete</a>
    <a href="{% url 'webadmin:delbrand' i.id %}">edit</a>
</tr>
{%endfor%}
</table>  
</body>
</html>







