
{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
</head>
<body>

    <br><br>
    <h2 align="center">UserComplaints</h2>
<table border="1" align="center">
    <tr>
        <td>Sl.No</td>
        <td>Title</td>
        <td>Complaint</td>
        <td>POSTDate</td>
        <td>UserName</td>
        <td>Contact</td>
        <td>Reply</td>
        <td>ReplyData</td>
    </tr>
    {% for i in userComplaint %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.complaint_title}}</td>
        <td>{{i.complaint_details}}</td>
        <td>{{i.complaint_postdate}}</td>
        <td>{{i.user.user_name}}</td>
        <td>{{i.user.user_contact}}</td>
        <td>{{i.complaint_reply}}</td>
        <td>{{i.complaint_replydate}}</td>
      
       
    </tr>
    {% endfor %}
</table>

    <br><br>
    <h2 align="center">OfficeComplaint</h2>
<table border="1" align="center">
    <tr>
        <td>Sl.No</td>
        <td>Title</td>
        <td>Complaint</td>
        <td>POSTDate</td>
        <td>OfficeName</td>
        <td>Contact</td>
        <td>Reply</td>
        <td>ReplyData</td>
    </tr>
    {% for i in officeComplaint %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.complaint_title}}</td>
        <td>{{i.complaint_details}}</td>
        <td>{{i.complaint_postdate}}</td>
        <td>{{i.office.office_name}}</td>
        <td>{{i.office.office_contact}}</td>
        <td>{{i.complaint_reply}}</td>
        <td>{{i.complaint_replydate}}</td>
    </tr>
    {% endfor %}
</table>
    <br><br>
   
</body>
</html>
{% endblock content %}